body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* 底部链接的样式 */
#test-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; /* 水平居中 */
}
